BEGIN;
--
--

CREATE model User
--

CREATE TABLE "users_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL);

CREATE TABLE "users_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);

CREATE TABLE "users_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
--
--

CREATE model Student
--

CREATE TABLE "users_student" ("user_ptr_id" bigint NOT NULL PRIMARY KEY REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED);
--
--

CREATE model Tutor
--

CREATE TABLE "users_tutor" ("user_ptr_id" bigint NOT NULL PRIMARY KEY REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED);

CREATE UNIQUE INDEX "users_user_groups_user_id_group_id_b88eab82_uniq"
ON "users_user_groups" ("user_id", "group_id");

CREATE INDEX "users_user_groups_user_id_5f6f5a90"
ON "users_user_groups" ("user_id");

CREATE INDEX "users_user_groups_group_id_9afc8d0e"
ON "users_user_groups" ("group_id");

CREATE UNIQUE INDEX "users_user_user_permissions_user_id_permission_id_43338c45_uniq"
ON "users_user_user_permissions" ("user_id", "permission_id");

CREATE INDEX "users_user_user_permissions_user_id_20aca447"
ON "users_user_user_permissions" ("user_id");

CREATE INDEX "users_user_user_permissions_permission_id_0b93982e"
ON "users_user_user_permissions" ("permission_id"); COMMIT;